<div class="auth-container">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="logo">
      <img src="/SVG_LOGOTIPO_VERDE_GYMBROS.svg" />
    </div>

    <div>
      <label>Email</label>
      <input type="email" formControlName="email" />
    </div>

    <br>

    <button type="submit" [disabled]="form.invalid">Enviar código</button>
    <p *ngIf="message">{{ message }}</p>

    <br>

    <div class="link">
      ¿Recuerdas tu contraseña? <a routerLink="/login">Inicia sesión</a>
    </div>
  </form>
</div>
