
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.chat-container {
  background-color: white;
  max-width: 600px;
  margin: 0 auto;
  margin-top: 4.5rem;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  height: calc(100dvh - 9.5rem);

  opacity: 0;
  animation: fadeIn 200ms ease-in 200ms forwards;
}

.chat-header {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;

  .back {
    background: none;
    border: none;
    cursor: pointer;
  }

  img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #44d86d;
  }

  .user-info {
    h4 {
      margin: 0;
    }

    p {
      margin: 0;
      font-size: 0.85rem;
      color: #777;
    }
  }
}

.messages {
  flex: 1;
  overflow-y: auto;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.message {
  padding: 0.6rem 1rem;
  border-radius: 10px;
  max-width: 75%;
  word-wrap: break-word;
  font-size: 0.95rem;
}

.outgoing {
  background: #d1f7d6;
  align-self: flex-end;
}

.incoming {
  background: #f0f0f0;
  align-self: flex-start;
}

.input-box {
  display: flex;
  gap: 0.5rem;

  input {
    flex: 1;
    padding: 0.6rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  button {
    background-color: #44d86d;
    color: #111110;
    font-weight: bold;
    border: none;
    padding: 0.8rem 1.2rem;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
      background-color: #3dc664;
    }
  }
}

