<div class="chat-container" *ngIf="!loading">
  <div class="chat-header" *ngIf="receiverUser">
    <button class="back" (click)="router.navigate(['/messages'])">⬅</button>
    <img
      [src]="receiverUser.photo
      || defaultAvatar"
      alt="Avatar"
    />
    <div class="user-info">
      <h4>{{ receiverUser.name }}</h4>
      <p>&#64;{{ receiverUser.username }}</p>
    </div>
  </div>

  <div class="messages" #messagesContainer>
    <div
      *ngFor="let msg of messages"
      [class.outgoing]="msg.sender_id === currentUser.id"
      [class.incoming]="msg.sender_id !== currentUser.id"
      class="message"
    >
      {{ msg.content }}
    </div>
  </div>

  <div class="input-box">
    <input
      type="text"
      [(ngModel)]="newMessage"
      placeholder="Escribe un mensaje..."
      (keydown.enter)="sendMessage()"
    />
    <button (click)="sendMessage()">Enviar</button>
  </div>
</div>
