.profile-container {
  display: flex;
  justify-content: center;
  padding: 1.5rem;
  margin-top: 4.5rem;
  background-color: #f2f2f2;
  min-height: 100vh;
  box-sizing: border-box;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.profile-card {
  width: 100%;
  max-width: 600px;
  background: white;
  padding: 1.4rem;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

  opacity: 0;
  animation: fadeIn 200ms ease-in 200ms forwards;
}

.image-upload {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;

  img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #44d86d;
    cursor: pointer;
  }
}

.photoError {
  color: #e74c3c;
  text-align: center;
  margin-top: 0.7rem;
  font-size: 1rem;
  font-weight: 500;
}

.field-row {
  margin-bottom: 1rem;

  label {
    font-weight: bold;
    display: block;
    margin-bottom: 0.3rem;
  }

  .input-group {
    display: flex;
    gap: 0.5rem;

    input {
      flex: 1;
      padding: 0.65rem;
      border: 1px solid #ccc;
      border-radius: 4px;
    }

    button {
      background: #44d86d;
      color: #111110;
      font-weight: bold;
      border: none;
      padding: 0.4rem 0.8rem;
      border-radius: 4px;
      cursor: pointer;

      &:hover {
        background: #3dc664;
      }
    }
  }

  select {
    width: 100%;
    padding: 0.65rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
}

.password-section, .delete-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  .change-button {
    background: #333;
    color: white;
    margin-top: 1.5rem;
    width: 65%;
    border: none;
    padding: 0.75rem;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
      background: #111110;
    }
  }

  .password-form {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 65%;
    font-weight: bold;

    input {
      padding: 0.65rem;
      border: 1px solid #ccc;
      border-radius: 4px;
    }

    button {
      background: #44d86d;
      color: #111110;
      font-weight: bold;
      border: none;
      padding: 0.7rem;
      margin-bottom: 10px;
      border-radius: 4px;
      cursor: pointer;

      &:hover {
        background: #3dc664;
      }
    }
  }

  .delete-button {
    margin-top: 1rem;
    background: #e74c3c;
    color: white;
    width: 60%;
    border: none;
    padding: 0.5rem;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;

    &:hover {
      background: #c0392b;
    }
  }
}
