<div class="auth-container">

  <form [formGroup]="form" (ngSubmit)="onSubmit()">

    <h1>GYMBROS</h1>

    <div>
      <label>Email </label>
      <br>
      <input type="email" formControlName="email" />
    </div>

    <div>
      <label>Contraseña </label>
      <br>
      <input type="password" formControlName="password" />
    </div>

    <br>

    <button type="submit" [disabled]="form.invalid">Entrar</button>

    <p *ngIf="error">{{ error }}</p>

    <br>

    <div class="link">
      ¿No tienes cuenta? <a routerLink="/register">Regístrate aquí</a>
    </div>

    <div class="link">
      ¿Olvidaste tu contraseña?
      <a routerLink="/reset-password">Recuperar contraseña</a>
    </div>

  </form>
</div>
