<h1>GYMBROS</h1>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div>
    <label>Email </label>
    <input type="email" formControlName="email" />
  </div>

  <br>

  <div>
    <label>Contraseña </label>
    <input type="password" formControlName="password" />
  </div>

  <br>

  <button type="submit" [disabled]="form.invalid">Entrar</button>

  <p *ngIf="error">{{ error }}</p>

  <br>

  <p>
    ¿No tienes cuenta?
    <a routerLink="/register">Regístrate</a>
  </p>
  <p>
    ¿Olvidaste tu contraseña?
    <a routerLink="/reset-password">Recuperar contraseña</a>

</form>
