<nav *ngIf="isLoggedIn$ | async" class="navbar" [class.scrolled]="isScrolled">
  <a routerLink="/home" class="logo">
    <img src="/SVG_LOGOTIPO_VERDE_GYMBROS.svg" alt="Gymbros logo" width="120" height="auto" />
  </a>

  <div class="nav-container">
    <ul class="nav-links">
      <li class="messages-link">
        <a routerLink="/messages">
          <span class="material-icons-round">chat</span>
          <span *ngIf="hasUnreadMessages" class="notification-dot"></span>
        </a>
      </li>
      <li>
        <a routerLink="/likes">
          <span class="material-icons-round">bookmark</span>
        </a>
      </li>
    </ul>

    <div class="avatar-container" (click)="toggleDropdown()" tabindex="0">
      <img [src]="user?.photo || defaultAvatar" alt="Avatar" class="avatar" />
      <div class="dropdown" *ngIf="showDropdown">
        <a routerLink="/profile">Perfil</a>
        <a (click)="logout()">Logout</a>
      </div>
    </div>
  </div>
</nav>
