<nav *ngIf="isLoggedIn$ | async" class="navbar">
  <h1 class="logo" routerLink="/home">Gymbros</h1>

  <ul class="nav-links">
    <li>
      <a routerLink="/home">
        <span class="material-icons-round">home</span>
      </a>
    </li>
    <li class="messages-link">
      <a routerLink="/messages">
         <span class="material-icons-round">chat</span>
        <span *ngIf="hasUnreadMessages" class="notification-dot"></span>
      </a>
    </li>
    <li>
      <a routerLink="/likes">
        <span class="material-icons-round">bookmark</span>
      </a>
    </li>
  </ul>

  <div class="avatar-container" (click)="toggleDropdown()" tabindex="0">
    <img [src]="user?.photo || defaultAvatar" alt="Avatar" class="avatar" />
    <div class="dropdown" *ngIf="showDropdown">
      <a routerLink="/profile">Perfil</a>
      <a (click)="logout()">Logout</a>
    </div>
  </div>
</nav>
