.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #111110;
  padding: 0.1rem 2rem;
  color: white;
  border-radius: 7px;

  .logo {
  display: flex;
  align-items: center;

  img {
    height: 33px;
    cursor: pointer;
  }
}

  .nav-links {
    display: flex;
    padding-right: 6.5rem;
    list-style: none;
    gap: 3rem;

    a {
      color: white;
      text-decoration: none;
    }
  }

  .avatar-container {
    position: relative;
    cursor: pointer;

    .avatar {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: 2px solid #44d86d;
      object-fit: cover;
    }

    .dropdown {
      position: absolute;
      top: 50px;
      right: 0;
      background: white;
      border: 1px solid #ddd;
      border-radius: 4px;
      box-shadow: 0 2px 6px rgba(0,0,0,0.2);
      display: flex;
      flex-direction: column;
      min-width: 120px;
      z-index: 10;

      a, button {
        padding: 0.5rem 1rem;
        text-align: left;
        background: none;
        text-decoration: none;
        border: none;
        cursor: pointer;
        color: #333;

        &:hover {
          background: #f0f0f0;
        }
      }
    }
  }

  .notification-dot {
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: red;
    border-radius: 50%;
    margin-left: 5px;
    vertical-align: middle;
  }


}
