<div class="auth-container">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="logo">
      <img src="/SVG_LOGOTIPO_VERDE_GYMBROS.svg" />
    </div>

    <div>
      <label>Email</label>
      <input type="email" [value]="email" disabled />
    </div>

    <div>
      <label>Código</label>
      <input type="text" formControlName="code" />
    </div>

    <div *ngIf="mode === 'password_reset'">
      <label>Nueva contraseña</label>
      <input type="password" formControlName="password" />
    </div>

    <br>

    <button type="submit" [disabled]="form.invalid">
      {{ mode === 'register' ? 'Verificar registro' : 'Cambiar contraseña' }}
    </button>

    <p *ngIf="error">{{ error }}</p>
  </form>
</div>
