<div class="auth-container">

  <form [formGroup]="form" (ngSubmit)="onSubmit()">

    <h1>GYMBROS</h1>

    <div>
      <label>Nombre </label>
      <br>
      <input type="text" formControlName="name" />
    </div>

    <br>

    <div>
      <label>Nombre de usuario </label>
      <input type="text" formControlName="username" />
    </div>

    <br>

    <div>
      <label>Email </label>
      <input type="email" formControlName="email" />
    </div>

    <br>

    <div>
      <label>Contraseña </label>
      <input type="password" formControlName="password" />
    </div>

    <br>

    <button type="submit" [disabled]="form.invalid">Registrarse</button>

    <p *ngIf="error">{{ error }}</p>

    <br><br>

    <div class="link">
      ¿Ya tienes cuenta? <a routerLink="/login">Inicia sesión</a>
    </div>

  </form>

</div>
