:host {
  display: flex;
  justify-content: center;
  padding: 2rem;
  margin-top: 2.5rem;
  background-color: #f2f2f2;
  box-sizing: border-box;
}

div {
  width: 100%;
  max-width: 900px;
  padding: 0 1rem;
  box-sizing: border-box;
}


.chat-list {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 600px;
  margin: 0 auto;
}

.chat-card {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  padding: 1rem;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  transition: background 0.2s;

  &:hover {
    background: #f9f9f9;
  }

  img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #44d86d;
  }

  .info {
    flex: 1;
    margin-left: 1rem;

    h4 {
      margin: 0;
      font-size: 1.1rem;
    }

    p {
      padding-top: 0.25rem;
      margin: 0;
      color: #888;
      font-size: 0.9rem;
    }
  }

  .notification-dot {
    width: 8px;
    height: 8px;
    background-color: red;
    border-radius: 50%;
    margin-left: 8px;
  }
}
